.articulo{
	margin: 0% 0.5% 0.5% 0%;
	float: left;
	width: 31%;
}

.articuloIMG{
	width: 50%;
	margin-top: 1.5%;
	margin-bottom: 1.5%;
}

.articuloNOMBRE{	
	font-size: 67%;
	margin-top: 1%;
}

.articuloPRECIO{
	font-weight: bold;
}

#componente{
	margin-top: 5%;
	width: 110%;
	padding: 2%;	
}

.mostrarTexto{
	border: 1px solid black;
	width: 30%;
	position: absolute;
	margin-top: -20%;
	margin-left: 1%;
	background-color: #A4A4A4;
	height: 5%;
	opacity: 0.2;
}