.jumbotron{
	margin-bottom: 0;	
	background-color: #FF6D01;
	color: white; 

}

.imagenLogo{
	width: 25%;
    	margin-top: -4%; 
}

.navbar-inverse{
	background-color: #585858;
	border-color: #585858;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover{
	color: #81BEF7;
}

.titulo{
	margin-top: 0;
}

.cuenta{
	margin-right: 48px;
}

.navbar{
	border-radius:0;
}

#login{
	margin-top: 13%;
}

.row{
	margin: 0;
}

#finSesion{
	margin-left: -40%;
}

nav>li>a:hover{
	color: #81BEF7;
}


.menu{
    width: 3%;
    background-color: white;
    border: 0; 
}

.cerrarMenu{
	margin-top: 1%;
	margin-left: 1%;
	position: fixed;
}

button:focus{
	outline: none;
}

.mayusculas{
	text-transform: uppercase;
}

.todo{
	margin-top: 4%;
}

.ir-arriba {
	display:none;
	border-radius: 15px;
	padding:10px;
	background:#FAAC58;
	font-size:20px;
	color: white;
	cursor:pointer;
	position: fixed;
	top:90%;
	right:20px;
}

.borrar{
	display: none; 
}
.ver{
	display: block;
}

#valorRange{
    width: 20%;
    border: 1px solid black;
    margin-left: 35%;
    text-align: center;
    float: left;	
    border-radius: 15%;
    font-weight: bold;
}

.fa-search{
	margin-left: 9%;
	cursor: pointer;
}