.jumbotron{
	margin-bottom: 0;	
	height: 150px;
	background-color: #FAAC58;
	color: white; 

}

.navbar-inverse{
	background-color: #585858;
	border-color: #585858;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover{
	color: #81BEF7;
}

.titulo{
	margin-top: 0;
}

.cuenta{
	margin-right: 50px;
}

.navbar{
	border-radius:0;
}

#login{
	margin-top: 13%;
}

.row{
	margin: 0;
}

#finSesion{
	margin-left: -40%;
}

nav>li>a:hover{
	color: #81BEF7;
}


#menu{
    width: 3%;
    background-color: white;
    border: 0; 
}