<<<<<<< HEAD

=======
>>>>>>> ab91944b87aa31a10a187408334b575e258bfc98
#guardarPermiso{
	width: 1%;
	height: 1%;
}
<<<<<<< HEAD

=======
>>>>>>> ab91944b87aa31a10a187408334b575e258bfc98
#botonGuardarPermiso{
	margin-top: -30%;
}

.permisosOpciones{
	width: 47%;
}

#volverP{
	margin-right: 2%;
}

#selectorPermisos{
	width: 50%;
	border-radius: 10%;
}

#selectorPermisos:focus{
	outline-color: hotpink;
}